<div>
    <p class="mb-2">
      You can set up this device to log in quickly with a biometric authentication
      (Fingerprint Reader / Facial Recognition), or using a hardware security key. Click
      Below to get started.
    </p>
    <button
        class="py-2 px-4 bg-green-600 font-bold uppercase shadow text-white rounded"
        id="start-registration"
    >Setup Device Authentication
    </button>
</div>
<!-- TODO: move this to script file -->
<script type="text/javascript">
  const startRegistrationButton = document.getElementById('start-registration');

  startRegistrationButton.addEventListener('click', async () => {
    // Here we inject the credential options. It is a combination of javascript and jinja2
    const resp = {{ public_credential_creation_options | safe }};  //automatically escaping everything by default. alt: "tojson" -->
    const options = resp; //.json();

    // Start registration
    let attResp; 
    try {
      attResp = await startRegistration(options);
    } catch (error) {
      alert("Something went wrong with the registration.");
      console.error(error);
    }

    // Send response to server
    const verificationResp = await fetch('{{ url_for("auth.add_credential") }}', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(attResp) //this should be "error" if attResp errors
      });
    
    const verificationJSON = await verificationResp.json();
    if (verificationJSON && verificationJSON.verified) {
      alert("Success");
    } else {
      alert("Failure");
      console.log(verificationJSON); //+ JSON.stringify(options));
      console.log(attResp); //+ JSON.stringify(options));
    }
  });
</script>
  